<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Books Advanced Table</div>
            <div class="panel-body">
                <div class="bootstrap-table">
                    <div class="fixed-table-toolbar">
                        <div class="columns btn-group pull-right">
                            <button class="btn btn-default" type="button" name="refresh" title="Refresh"><i class="glyphicon glyphicon-refresh icon-refresh"></i></button>
                            <button class="btn btn-default" type="button" name="toggle" title="Toggle"><i class="glyphicon glyphicon glyphicon-list-alt icon-list-alt"></i></button>
                            <div class="keep-open btn-group" title="Columns">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-th icon-th"></i> <span class="caret"></span></button>
                                <ul class="dropdown-menu" role="menu">
                                    <li *ngFor="let column of columns; let i = index">
                                        <label><input type="checkbox" value="{{i}}" checked="checked"> {{column.label}}</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="pull-right search"><input class="form-control" type="text" placeholder="Search" (keyup)="search($event)"></div>
                    </div>
                    <div class="fixed-table-container" style="padding-bottom: 0px;">
                        <div class="fixed-table-header" style="display: block;">
                            <table></table>
                        </div>
                        <div class="fixed-table-body">
                            <div class="fixed-table-loading" style="top: 37px; display: none;">Loading, please wait…</div>
                            <table data-toggle="table" data-url="tables/data1.json" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc" class="table table-hover" style="margin-top: 0px;">
                                <thead style="display: table-header-group;">
                                    <tr>
                                        <th class="bs-checkbox " style="width: 36px; ">
                                            <div class="th-inner "><input name="btSelectAll" type="checkbox"></div>
                                            <div class="fht-cell"></div>
                                        </th>
                                        <th style="" *ngFor="let column of columns">
                                            <div class="th-inner sortable" (click)="sortBy(column.id)">
                                                {{column.label}}
                                                <span [class]="column.class" *ngIf="column.display"><span class="caret" style="margin: 10px 5px;"></span></span>
                                            </div>
                                            <div class="fht-cell"></div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let book of books | paginate: { itemsPerPage: 10, currentPage: p }; let i = index" [attr.data-index]="i">
                                        <td class="bs-checkbox"><input [attr.dataIndex]="i" name="toolbar1" type="checkbox"></td>
                                        <td style="">{{book.id}}</td>
                                        <td style=""><a routerLink="/book/update/{{book.id}}">{{book.ten_sach}}</a></td>
                                        <td style="">{{book.id_tac_gia}}</td>
                                        <td style="">{{book.id_loai_sach}}</td>
                                        <td style="">{{book.id_nha_xuat_ban}}</td>
                                        <td style="">{{book.trang_thai}}</td>
                                        <td style="">{{book.hinh}}</td>
                                        <td style="">$ {{book.don_gia}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="fixed-table-pagination">
                            <div class="pull-left pagination-detail">
                                <span class="pagination-info">Showing 1 to 10 of {{books.length}} rows</span>
                                <span class="page-list">
                                    <span class="btn-group dropup">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                            <span class="page-size">10</span> <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li class="active"><a href="javascript:void(0)">10</a></li>
                                            <li><a href="javascript:void(0)">25</a></li>
                                            <li><a href="javascript:void(0)">50</a></li>
                                            <li><a href="javascript:void(0)">100</a></li>
                                        </ul>
                                    </span>
                                     records per page
                                </span>
                            </div>
                            <div class="pull-right pagination">
                                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>