<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="bootstrap-table">
                    <div class="fixed-table-toolbar">
                        <div class="columns btn-group pull-left">
                            <a class="btn btn-success" routerLink="/book/add" title="Add">Add Book <i class="fa fa-plus"></i></a>
                        </div>
                        <div class="columns btn-group pull-right">
                            <button class="btn btn-default" type="button" name="refresh" title="Refresh"><i class="glyphicon glyphicon-refresh icon-refresh"></i></button>
                            <button class="btn btn-default" type="button" name="toggle" title="Toggle"><i class="glyphicon glyphicon glyphicon-list-alt icon-list-alt"></i></button>
                            <div class="keep-open btn-group" title="Columns">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-th icon-th"></i> <span class="caret"></span></button>
                                <ul class="dropdown-menu" role="menu">
                                    <li *ngFor="let column of columns; let i = index">
                                        <label><input type="checkbox" value="{{i}}" checked="checked"> {{column.label}}</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="pull-right search"><input class="form-control" type="text" placeholder="Search by name" (keyup)="search($event.target.value)"></div>
                    </div>
                    <div class="fixed-table-container" style="padding-bottom: 0px;">
                        <div class="fixed-table-header" style="display: block;">
                            <table></table>
                        </div>
                        <div class="fixed-table-body">
                            <div class="fixed-table-loading" style="top: 37px; display: none;">Loading, please wait…</div>
                            <table data-toggle="table" data-url="tables/data1.json" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc" class="table table-hover" style="margin-top: 0px;">
                                <thead style="display: table-header-group;">
                                    <tr>
                                        <th *ngFor="let column of columns">
                                            <div class="th-inner sortable" (click)="sortBy(column.name)">
                                                {{column.label}}
                                                <span [class]="column.class" *ngIf="column.display"><span class="caret" style="margin: 10px 5px;"></span></span>
                                            </div>
                                            <div class="fht-cell"></div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let book of books | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
                                        <td>{{book.id}}</td>
                                        <td><a routerLink="/book/view/{{book.id}}">{{book.ten_sach}}</a></td>
                                        <td>{{book_service.writers[book.id_tac_gia]}}</td>
                                        <td>{{book_service.categories[book.id_loai_sach]}}</td>
                                        <td>{{book_service.publishers[book.id_nha_xuat_ban]}}</td>
                                        <td [class]="book.trang_thai == 1 ? 'in-stock' : 'sold-out'">{{book_service.status[book.trang_thai]}}</td>
                                        <td><img src="{{book_service.images_path + book.hinh}}"></td>
                                        <td>{{book.don_gia | number : '1.0-2'}} <u>đ</u></td>
                                        <td>
                                            <a class="btn btn-block btn-primary" routerLink="/book/update/{{book.id}}" title="Update">Update <i class="fa fa-pencil"></i></a>
                                            <a class="btn btn-block btn-danger" (click)="deleteBook(book)" title="Delete">Delete <i class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="fixed-table-pagination">
                            <div class="pull-left pagination-detail">
                                <span class="pagination-info">Showing 1 to 10 of {{books.length}} rows</span>
                                <span class="page-list">
                                    <select2 [data]="itemsPerPageList" [value]="book_service.itemsPerPage" (valueChanged)="setItemsPerPage($event.value)"></select2>
                                     records per page
                                </span>
                            </div>
                            <div class="pull-right pagination">
                                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>