<div class="row">
    <div class="col-lg-12">
        <div class="panel">
            <div class="panel-body">
                <div class="panel panel-success" *ngIf="is_sent">
					<div class="panel-heading">Book is {{book.id ? 'updated' : 'added'}} successfully.</div>
				</div>
                <form #BookForm="ngForm" (ngSubmit)="onSubmit()" role="form">
                    <div class="col-md-12">
                        <div class="form-group {{ten_sach.untouched ? '' : (ten_sach.valid) ? 'has-success' : 'has-error'}}">
                            <label>Title</label>
                            <div class="input-group mb15">
                                <span class="input-group-addon"><i class="fa fa-book"></i></span>
                                <input class="form-control" placeholder="Title" name="ten_sach" #ten_sach="ngModel" ngControl="ten_sach" [(ngModel)]="book.ten_sach" required pattern="[\S\s]+">
                            </div>
                            <div class="panel panel-danger" *ngIf="ten_sach.errors && ten_sach.touched">
                                <div class="panel-heading" *ngIf="ten_sach.errors.required">Please input name</div>
                                <div class="panel-heading" *ngIf="ten_sach.errors.pattern">Name is invalid</div>
                            </div>
                        </div>
                        <div class="form-group {{id_tac_gia.untouched ? '' : (id_tac_gia.valid) ? 'has-success' : 'has-error'}}">
                            <label>Writer</label>
                            <div class="input-group mb15">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <ng-select
                                    [options]="book_service.writers"
                                    [allowClear]="true"
                                    (selected)="selectOnChange('id_tac_gia', $event.value)"
                                    (deselected)="selectOnChange('id_tac_gia')"
                                    placeholder="Choose writer"
                                    name="id_tac_gia" #id_tac_gia="ngModel" ngControl="id_tac_gia" [(ngModel)]="selectedValues.writer" required>
                                </ng-select>
                            </div>
                            <div class="panel panel-danger" *ngIf="id_tac_gia.errors && id_tac_gia.touched">
                                <div class="panel-heading" *ngIf="id_tac_gia.errors.required">Please choose writer</div>
                            </div>
                        </div>
                        <div class="form-group {{id_loai_sach.untouched ? '' : (id_loai_sach.valid) ? 'has-success' : 'has-error'}}">
                            <label>Category</label>
                            <div class="input-group mb15">
                                <span class="input-group-addon"><i class="fa fa-tags"></i></span>
                                <ng-select
                                    [options]="book_service.categories"
                                    [allowClear]="true"
                                    (selected)="selectOnChange('id_loai_sach', $event.value)"
                                    (deselected)="selectOnChange('id_loai_sach')"
                                    placeholder="Choose category"
                                    name="id_loai_sach" #id_loai_sach="ngModel" ngControl="id_loai_sach" [(ngModel)]="selectedValues.category" required>
                                </ng-select>
                            </div>
                            <div class="panel panel-danger" *ngIf="id_loai_sach.errors && id_loai_sach.touched">
                                <div class="panel-heading" *ngIf="id_loai_sach.errors.required">Please choose category</div>
                            </div>
                        </div>
                        <div class="form-group {{id_nha_xuat_ban.untouched ? '' : (id_nha_xuat_ban.valid) ? 'has-success' : 'has-error'}}">
                            <label>Publisher</label>
                            <div class="input-group mb15">
                                <span class="input-group-addon"><i class="fa fa-building"></i></span>
                                <ng-select
                                    [options]="book_service.publishers"
                                    [allowClear]="true"
                                    (selected)="selectOnChange('id_nha_xuat_ban', $event.value)"
                                    (deselected)="selectOnChange('id_nha_xuat_ban')"
                                    placeholder="Choose publisher"
                                    name="id_nha_xuat_ban" #id_nha_xuat_ban="ngModel" ngControl="id_nha_xuat_ban" [(ngModel)]="selectedValues.publisher" required>
                                </ng-select>
                            </div>
                            <div class="panel panel-danger" *ngIf="id_nha_xuat_ban.errors && id_nha_xuat_ban.touched">
                                <div class="panel-heading" *ngIf="id_nha_xuat_ban.errors.required">Please choose publisher</div>
                            </div>
                        </div>
                        <div class="form-group {{hinh.valid ? 'has-success' : 'has-error'}}">
                            <label>Image</label>
                            <div class="input-group mb15">
                                <span class="input-group-addon"><i class="fa fa-file-image-o"></i></span>
                                <input type="hidden" class="form-control" name="hinh" #hinh="ngModel" ngControl="hinh" [(ngModel)]="book.hinh" required readonly>
                                <file-uploader accept="image/*"
                                    [imageSrc]="book.hinh ? book_service.images_path + book.hinh : ''"
                                    (drop)="fileOnChange($event)"
                                    (change)="fileOnChange($event)">
                                </file-uploader>
                            </div>
                            <div class="panel panel-danger" *ngIf="hinh.invalid">
                                <div class="panel-heading">Please choose image</div>
                            </div>
                        </div>
                        <div class="form-group {{gioi_thieu.untouched ? '' : (gioi_thieu.valid) ? 'has-success' : 'has-error'}}">
                            <label>Description</label>
                            <div class="input-group mb15">
                                <span class="input-group-addon"><i class="fa fa-info"></i></span>
                                <textarea class="form-control" rows="3" placeholder="Description" name="gioi_thieu" #gioi_thieu="ngModel" ngControl="gioi_thieu" [(ngModel)]="book.gioi_thieu"></textarea>
                            </div>
                        </div>
                        <div class="form-group {{ngay_xuat_ban.untouched ? '' : (ngay_xuat_ban.valid) ? 'has-success' : 'has-error'}}">
                            <label>Release date</label>
                            <div class="input-group mb15">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <span class="input-group-addon"><i class="fa fa-remove"></i></span>
                                <input type="date" class="form-control" name="ngay_xuat_ban" #ngay_xuat_ban="ngModel" ngControl="ngay_xuat_ban" [(ngModel)]="book.ngay_xuat_ban" required>
                            </div>
                            <div class="panel panel-danger" *ngIf="ngay_xuat_ban.errors && ngay_xuat_ban.touched">
                                <div class="panel-heading" *ngIf="ngay_xuat_ban.errors.required">Please input release date</div>
                            </div>
                        </div>
                        <div class="form-group {{gia_bia.untouched ? '' : (gia_bia.valid) ? 'has-success' : 'has-error'}}">
                            <label>Original Price ( <u>đ</u> )</label>
                            <div class="input-group mb15">
                                <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                <input type="text" class="form-control" placeholder="Original Price" name="gia_bia" #gia_bia="ngModel" ngControl="gia_bia" [(ngModel)]="book.gia_bia" required pattern="[\d]+">
                            </div>
                            <div class="panel panel-danger" *ngIf="gia_bia.errors && gia_bia.touched">
                                <div class="panel-heading" *ngIf="gia_bia.errors.required">Please input original price</div>
                                <div class="panel-heading" *ngIf="gia_bia.errors.pattern">Original price is invalid</div>
                            </div>
                        </div>
                        <div class="form-group {{don_gia.untouched ? '' : (don_gia.valid) ? 'has-success' : 'has-error'}}">
                            <label>Selling Price ( <u>đ</u> )</label>
                            <div class="input-group mb15">
                                <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                <input type="text" class="form-control" placeholder="Selling Price" name="don_gia" #don_gia="ngModel" ngControl="don_gia" [(ngModel)]="book.don_gia" required pattern="[\d]+">
                            </div>
                            <div class="panel panel-danger" *ngIf="don_gia.errors && don_gia.touched">
                                <div class="panel-heading" *ngIf="don_gia.errors.required">Please input selling price</div>
                                <div class="panel-heading" *ngIf="don_gia.errors.pattern">Selling price is invalid</div>
                            </div>
                        </div>
                        <div class="form-group {{so_trang.untouched ? '' : (so_trang.valid) ? 'has-success' : 'has-error'}}">
                            <label>Pages</label>
                            <div class="input-group mb15">
                                <span class="input-group-addon"><i class="fa fa-files-o"></i></span>
                                <input type="text" class="form-control" placeholder="Pages" name="so_trang" #so_trang="ngModel" ngControl="so_trang" [(ngModel)]="book.so_trang" required pattern="[\d]+">
                            </div>
                            <div class="panel panel-danger" *ngIf="so_trang.errors && so_trang.touched">
                                <div class="panel-heading" *ngIf="so_trang.errors.required">Please input pages</div>
                                <div class="panel-heading" *ngIf="so_trang.errors.pattern">Pages is invalid</div>
                            </div>
                        </div>
                        <div class="form-group {{doc_thu.untouched ? '' : (doc_thu.valid) ? 'has-success' : 'has-error'}}">
                            <label>Preview</label>
                            <div class="input-group mb15">
                                <span class="input-group-addon"><i class="fa fa-ellipsis-h"></i></span>
                                <input type="text" class="form-control" placeholder="Preview" name="doc_thu" #doc_thu="ngModel" ngControl="doc_thu" [(ngModel)]="book.doc_thu">
                            </div>
                            <div class="panel panel-danger" *ngIf="doc_thu.errors && doc_thu.touched">
                                <div class="panel-heading" *ngIf="doc_thu.errors.required">Please input preview</div>
                                <div class="panel-heading" *ngIf="doc_thu.errors.pattern">Preview is invalid</div>
                            </div>
                        </div>
                        <div class="form-group {{sku.untouched ? '' : (sku.valid) ? 'has-success' : 'has-error'}}">
                            <label>Sku</label>
                            <div class="input-group mb15">
                                <span class="input-group-addon"><i class="fa fa-info"></i></span>
                                <input type="text" class="form-control" placeholder="Sku" name="sku" #sku="ngModel" ngControl="sku" [(ngModel)]="book.sku">
                            </div>
                            <div class="panel panel-danger" *ngIf="sku.errors && sku.touched">
                                <div class="panel-heading" *ngIf="sku.errors.required">Please input sku</div>
                                <div class="panel-heading" *ngIf="sku.errors.pattern">Sku is invalid</div>
                            </div>
                        </div>
                        <div class="form-group {{kich_thuoc.untouched ? '' : (kich_thuoc.valid) ? 'has-success' : 'has-error'}}">
                            <label>Dimension</label>
                            <div class="input-group mb15">
                                <span class="input-group-addon"><i class="fa fa-cube"></i></span>
                                <input type="text" class="form-control" placeholder="Dimension" name="kich_thuoc" #kich_thuoc="ngModel" ngControl="kich_thuoc" [(ngModel)]="book.kich_thuoc" required pattern="[\S\s]+">
                            </div>
                            <div class="panel panel-danger" *ngIf="kich_thuoc.errors && kich_thuoc.touched">
                                <div class="panel-heading" *ngIf="kich_thuoc.errors.required">Please input dimension</div>
                                <div class="panel-heading" *ngIf="kich_thuoc.errors.pattern">Dimension is invalid</div>
                            </div>
                        </div>
                        <div class="form-group {{trong_luong.untouched ? '' : (trong_luong.valid) ? 'has-success' : 'has-error'}}">
                            <label>Weight ( g )</label>
                            <div class="input-group mb15">
                                <span class="input-group-addon"><i class="fa fa-balance-scale"></i></span>
                                <input type="text" class="form-control" placeholder="Weight" name="trong_luong" #trong_luong="ngModel" ngControl="trong_luong" [(ngModel)]="book.trong_luong" required pattern="[\d]+">
                            </div>
                            <div class="panel panel-danger" *ngIf="trong_luong.errors && trong_luong.touched">
                                <div class="panel-heading" *ngIf="trong_luong.errors.required">Please input weight</div>
                                <div class="panel-heading" *ngIf="trong_luong.errors.pattern">Weight is invalid</div>
                            </div>
                        </div>
                        <div class="form-group {{trang_thai.untouched ? '' : (trang_thai.valid) ? 'has-success' : 'has-error'}}">
                            <label><input type="checkbox" name="trang_thai" #trang_thai="ngModel" ngControl="trang_thai" [(ngModel)]="book.trang_thai"> In stock</label>
                        </div>
                        <div class="form-group {{noi_bat.untouched ? '' : (noi_bat.valid) ? 'has-success' : 'has-error'}}">
                            <label><input type="checkbox" name="noi_bat" #noi_bat="ngModel" ngControl="noi_bat" [(ngModel)]="book.noi_bat"> Highlight</label>
                        </div>
                        <button type="submit" class="btn btn-success" [disabled]="BookForm.form.invalid">{{book.id ? 'Update' : 'Add'}}</button>
                        <button type="reset" class="btn btn-default">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div><!-- /.col-->
</div><!-- /.row -->